:root {
    --color1: #1c1c24;
    --color2: #e7ffed;
    --nav_color: rgb(255, 255, 255);
    --grey: #e4e4e4;
    --nav-li-active: #25b976;
    --trans: rgba(#25b976, 0.38);
    --fullwidth: 100%;
    --trasparent-grey: rgba(10, 10, 10, 0.55);
    --logo: http: //svgshare.com/i/2qx.svg;
    --logo2: http: //svgshare.com/i/2rz.svg;
    --serv-heigth: 215px;
    --big-heigth: 140px;
    --small-heigth: 79px;
}

@font-face {
    font-family: GraublauWeb;
    src: url("path/GraublauWeb.otf") format("opentype");
}

@font-face {
    font-family: GraublauWeb;
    font-weight: bold;
    src: url("path/GraublauWebBold.otf") format("opentype");
}

html {
  height: 100%;
  /* box-sizing: border-box; */
}

body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 140%;
    position: relative;
    line-height: 1.6;
    /* min-height: 100%; */
}

.shadow-box {
    /* padding: 20px; */
    /* border-radius: 5px; */
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
    -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
}

.icon {
    /*margin: auto;*/
    width: 120px;
    height: 120px;
    display: block;
    margin: auto;
    padding: 10px;
    padding-top: 25px;
    border-radius: 60px;
    background-color: var(--nav-li-active);
}

.icon img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}

.advantages {
    padding-top: 20px;
}

.adv {
    min-height: 228px;
    padding: 20px;
}

.head-text {
    font-size: 16px;
    padding: 30px;
}

.serv-heading h1 {
    background-color: var(--grey);
    border-radius: 5px;
    font-size: 160%;
    padding: 10px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
    -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
}

form {
    text-align: left;
    margin: auto;
}

form p {
    padding-top: 10px;
    font-size: 80%;
}

.serv-heading::-webkit-details-marker {
    display: none;
}

.serv-heading h1:hover {
    background-color: var(--nav-li-active);
    color: white;
}

.brand-name {
    width: 80%;
    padding-top: 15px;
    font-size: 120%;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: var(--color1);
}

.navbar-brand {
    /*padding: 5px;*/
}

#phone2 {
    height: 30px;
    width: 60px;
}

.serv p {
    text-align: left;
}

/*.custom-nav {
    background-color: var(--nav_color);
    border-bottom: 1px solid var(--grey);
}*/

.h-cont {
    padding-top: 10px;
    padding-left: 30px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    list-style-type: none;
    color: var(--color1);
}

.sticky-form {
    position: sticky;
    position: -webkit-sticky;
}

.sticky {
    position: sticky;
}

.h-ul-cont {
    list-style-type: none;
}

.brand {
    padding-top: 25px;
    /*height: 1px;*/
    /*padding: 1px;*/
    color: black;
    font-size: 16px;
}

.brand-image {
    width: 36px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 10px;
}

.brand:hover, .brand:active, .brand:visited {
    color: black;
    text-decoration: none;
}

.nav-name {
    width: 260px;
    height: 100px;
    min-width: 260px;
}

#sidebar {
    width: 155px;
    height: 55px;
    position: fixed;
    z-index: 100;
    /* overflow: auto; */
    right: -20px;
    top: 84%;
    margin: 0 0 0 0px;
    border-radius: 50%;
}

#slideout {
    top: 89%;
    position: fixed;
    right: 0;
    margin-right: -150px;
    width: 250px;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    /* width:         200px; */
    /* margin-right: 200px; /* -width */
    z-index: -1;
    /* margin-top: -65px; */
    background-color: #FFD200;
    height: 65px;
    border-radius: 32.5px;
}

#slideout_inner {
    position: fixed;
    top: 40px;
    right: -10px;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

#slideout:hover {
    right: 150px;
}

#slideout:hover #slideout_inner {
    right: 0;
}

.b-top {
    margin-top: 100px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 115%;
}

.nav-a ul {
    vertical-align: bottom;
}

.nav-a a {
    color: rgb(42, 42, 42);
    align-items: flex-end;
    padding: 5px;
}

.navbar-nav>li>a {
    padding-top: 8px;
    padding-bottom: 8px;
}

text-decoration: none;
background-color: var(--grey);
}

.nav>li.active {
    text-decoration: none;
    background-color: var(--nav-li-active);
    color: white;
    /*border: 1px solid rgb(190, 190, 190);*/
}

.nav>li#phone.active, .nav>li#phone:hover {
    background-color: white;
}

.nav>li.active a {
    color: white;
    background-color: var(--nav-li-active);
}

.top-icons {
    min-height: 269 px;
}

.nav-row {
    border: none;
}

.icons {
    text-align: center;
    font-size: 110%;
    padding-top: 10px;
    padding-bottom: 25px;
    margin: auto;
    max-width: 280px;
}

img {
    width: 70px;
    display: block;
    margin: auto;
}

.transition {
    transition: transform .2s;
}

.transition:hover {
    transform: scale(1.2);
}

.col-zayavka {
    height: inherit;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.call-sticky {
    border-radius: 50%;
    size: 150%;
}

.call-sticky:hover {
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 5px;
    -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 5px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 2px 5px;
}

.slogan {
    text-align: center;
    /*text-shadow: 2px 2px #000000;*/
    color: rgb(244, 246, 247);
    background-color: rgba(10, 10, 10, 0.55);
    margin-top: 200px;
    margin-left: 30px;
    margin-right: 30px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 40px;
}

.header-site {
    width: 100%;
    height: 400px;
    background-image: url('https://energolab.com.ua/dd.jpg');
    background-size: cover;
    margin-bottom: 30px;
    /* display: flex;
  flex: 1 0 auto;
  position: relative;
  z-index: -1;
  height: 100vh;
  justify-content: center;
  align-items: center;
  transform: translateZ(-1px) scale(2); */
}

.parallax-container {
    /* perspective: 1px;
  transform-style: preserve-3d;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll; */
    padding: 0px;
}

.header-site-other {
    width: 100%;
    height: 40px;
    /* background-image: url('https://energolab.com.ua/dd.jpg'); */
    background-size: cover;
    margin-bottom: 30px;
    /*border: 1px solid red;*/
}

.b-middle {
    background-color: rgb(256, 256, 256);
}

.icon-bar {
    background-color: var(--nav-li-active)
}

.item1 img {
    height: 200px;
    width: auto;
}

.item h4 {
    text-align: center;
}

.about {
    background-color: var(--grey);
    border-radius: 5px;
    padding: 10px;
}

h3 {
    text-align: center;
    color: white;
    background-color: var(--nav-li-active);
    padding: 10px;
    border-radius: 5px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
    -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
}

#base div.row {
    padding: 20px;
}

summary:focus {
    outline-color: rgba(47, 9, 119, 0);
}

details[open] SUMMARY~* {
    animation: sweep .5s ease-in-out;
}

details:not([open]) SUMMARY~* {
    animation: sweep .5s ease-in-out;
}

@keyframes sweep {
    0% {
        opacity: 0;
        margin-left: 0px
    }
    100% {
        opacity: 1;
        margin-left: 0px
    }
}

.call-icon {
    padding-left: 10px;
    padding-top: 5px;
}

/* .call-icon-wrapper{
    width: 55px;
    height: 55px;
    margin: auto;
    background:white;
    border: 50%;
} */

.prilad-name {
    width: 100%;
    white-space: nowrap;
    text-align: center;
}

hr {
    border-color: var(--nav-li-active);
    background-color: var(--nav-li-active);
    color: var(--nav-li-active);
}

/* #page-wrap { width: 600px; margin: 15px auto; position: relative; }
p { margin: 0 0 15px 0; }
p:first-child { background: #fffcde; padding: 10px; }
#sidebar ul { background: #eee; padding: 10px; }
li { margin: 0 0 0 20px; } */

/* #main { width: 390px; float: left; } */

/* .circleBase {
        border-radius: 50%;
        behavior: url(PIE.htc); /* remove if you don't care about IE8 */

/* width: 100px;
        height: 100px;
        background: yellow;
    } */

.container {
    padding-bottom: 20px;
    /* margin-top: -40px; */
}

.section {
    padding-top: 40px;
    margin-top: -40px;
}

#drawer-content {
    width: 200px;
    margin-right: 200px;
    /* -width */
    margin-top: -65px;
    background-color: #FFD200;
    height: 65px;
    border-radius: 32.5px;
}

#drawer-content>p {
    padding: 10px;
    z-index: -1;
    visibility: hidden;
}

.lalka {
    position: relative;
    min-height: 65px;
    padding-bottom: 5px;
}

.btn-md {
    display: flex;
    justify-content: center;
}

#map {
    height: 400px;
    width: 100%;
    border-radius: 20px;
    margin-top: 20px;
    -webkit-transform: translate3d(0px, 0px, 0px);
    -webkit-mask-image: -webkit-radial-gradient(white, black);
}

.cont {
    text-align: center;
    padding: 15px;
    min-height: 200px;
}

@media (max-width: 992px) {
    .cont1 {
        min-height: 180px;
        text-align: center;
        padding: 15px;
    }
}

@media (min-width: 992px) {
    .cont1 {
        text-align: center;
        padding: 15px;
        min-height: 210px;
    }
}

.serv p {
    text-align: left;
}

.main-goals {
    text-align: left;
}

h5 {
    color: black;
}

.list-group-item:first-child {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
}

.list-group-item {
    border-left: none;
    border-right: none;
    border-bottom: none;
    /*border-top: 1px solid var(--nav-li-active);*/
    border-top: 1px solid var(--grey);
}

.other-serv {
    text-align: left;
    list-style-type: circle;
}

.prices, .prices div {
    background-color: var(--grey);
    padding: 5px;
    /* border-radius: 3px; */
}

.panel, .panel-default {
    border-radius: 3px;
}

.prices button {
    border: none;
    background-color: white;
}

.prices button:hover {
    background-color: var(--nav-li-active);
    color: white;
}

.prices>a, .prices>a:active, .prices>a:focus, .prices>a:visited {
    color: black;
}

.prices a:hover {
    color: white;
}

.advantages {
    text-align: center;
}

.cont2 {
    min-height: 160px;
    text-align: center;
    padding: 15px;
}

.cont ul, .cont1 ul, .cont2 ul, .cont3 ul {
    list-style-type: none;
}

.cont button:hover, .cont2 button:hover, .cont1 button:hover, .cont3 button:hover {
    background-color: var(--nav-li-active);
    color: white;
}

#myCarousel {
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    width: 100%;
    height: 400px;
    background-image: url('https://energolab.com.ua/dddd.jpg');
    background-color: rgba(133, 133, 133, 0.65);
    background-size: cover;
}

.comment {
    display: table;
    color: white;
    background-color: rgba(10, 10, 10, 0.55);
    margin-top: 40px;
    height: 300px;
    text-align: left;
    margin-right: 20%;
    margin-left: 20%;
    margin-bottom: 3px;
    border-radius: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 5%;
    padding-left: 5%;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
    -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
}

@media (max-width:637px) {
    .comment {
        margin-top: 10px;
        height: 380px;
        text-align: left;
        margin-right: 10%;
        margin-left: 10%;
        border-radius: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 2%;
        padding-left: 2%;
        font-size: 90%;
    }
    .carousel-inner {
        height: 505;
    }
    .slogan {
        margin-top: 150px;
    }
    #home {
        height: 375px;
    }
}

.comment span {
    display: table-cell;
    vertical-align: middle;
}

.scheme-item {
    padding: 20px;
    min-height: var(--serv-heigth);
    position: relative;
    /* z-index: -1; */
    /*text-align: center;*/
}

.image img {
    width: 70px;
}

.point {
    padding-top: 5px;
    margin: auto;
    max-width: 400px;
    display: flex;
    justify-content: center;
}

.point button {
    margin-top: 10px;
    transition: all .2s ease-in-out;
    z-index: 1000;
    /* background-color: var(--grey); */
    background-color: white;
    border-color: var(--nav-li-active);
    text-transform: uppercase;
    width: 100px;
    /* color: var(--nav-li-active); */
}

.point button:hover {
    background-color: var(--nav-li-active);
    color: white;
    transform: scale(1.1);
}

#services {
    text-align: center;
}

.numberCircle {
    border-radius: 50%;
    behavior: url(PIE.htc);
    /* remove if you don't care about IE8 */
    float: left;
    position: absolute;
    left: 35%;
    top: 60px;
    z-index: 1000;
    width: 36px;
    height: 36px;
    padding: 8px;
    background: var(--nav-li-active);
    /*border: 2px solid #666;*/
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    /*font: 14px Arial, sans-serif;*/
}

.line-bellow-sm {
    float: left;
    z-index: 1000;
    position: absolute;
    height: 2px;
    /*border: 1px solid var(--nav-li-active);*/
    behavior: url(PIE.htc);
    background: var(--nav-li-active);
    width: 145%;
    left: 25%;
    top: 193px;
}

.line-bellow-md {
    float: left;
    z-index: 1000;
    position: absolute;
    height: 2px;
    border: 0;
    behavior: url(PIE.htc);
    background-color: var(--nav-li-active);
    width: 245%;
    left: -75%;
    top: 176px;
}

.line {
    float: left;
    z-index: 1000;
    position: absolute;
    height: 1px;
    border: 1px solid var(--nav-li-active);
    behavior: url(PIE.htc);
    background: var(--nav-li-active);
    width: 55%;
    left: 70%;
    top: 55px;
}

.line-right {
    float: left;
    /* z-index: 1000; */
    position: absolute;
    bottom: 0;
    top: 55px;
    left: 70%;
    height: var(--big-heigth);
    width: 30%;
    border-top: 2px solid var(--nav-li-active);
    border-bottom: 2px solid var(--nav-li-active);
    border-right: 2px solid var(--nav-li-active);
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.line-left {
    float: left;
    z-index: 1000;
    position: absolute;
    bottom: 0;
    top: -22px;
    left: 0%;
    height: var(--small-heigth);
    width: 25%;
    border-top: 2px solid var(--nav-li-active);
    /*background: transparent;*/
    border-bottom: 2px solid var(--nav-li-active);
    border-left: 2px solid var(--nav-li-active);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.arrow-right {
    position: absolute;
    z-index: 1000;
    float: left;
    behavior: url(PIE.htc);
    top: 46px;
    left: 125%;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid var(--nav-li-active);
}

.btn-phone {
    border: 1px solid var(--nav-li-active);
    border-radius: 5px;
}

.btn-phone:focus {
    outline: 0;
}

.map-button {
    /* border: 1px solid var(--grey); */
    background: var(--grey);
}

@media (min-width: 992px) {
    #myNavbar>ul {
        position: absolute;
        bottom: 0;
        right: 0;
        border-top: none;
    }
}

@media (max-width: 992px) {
    .navbar-header {
        float: none;
    }
    .navbar-left, .navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-nav {
        float: none !important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in {
        display: block !important;
    }
    #myNavbar {
        max-height: 500px;
        border-top: None;
    }
}

.zayavka {
    padding-top: 20px;
    padding-bottom: 20px;
    border-color: var(--nav-li-active);
    border-width: 2px;
    background-color: white;
    outline: white solid 1px;
    border-radius: 10px;
}

.zayavka button {
    background-color: var(--grey);
    border: none;
}

.zayavka button:hover {
    background-color: var(--nav-li-active);
    border: none;
    color: white;
}

.mt40 h3 {
    background-color: var(--nav-li-active);
    color: white;
}

/* @import "http://fonts.googleapis.com/css?family=Roboto:300,400,500,700";
.mt40 {
    margin-top: 40px;
}

.mt40 img, .mt40 div {
    border-radius: 10px;
}

.panel {
    position: relative;
    overflow: hidden;
    display: block;
    border-radius: 0 !important;
}

.panel-default {
    border-color: white !important;
}

.panel .panel-body {
    position: relative;
    padding: 0 !important;
    overflow: hidden;
    height: auto;
}

.panel .panel-body a {
    overflow: hidden;
}

.panel .panel-body a img {
    display: block;
    margin: 0;
    width: 100%;
    height: auto;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.panel .panel-body a.zoom:hover img {
    transform: scale(1.3);
    -ms-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -o-transform: scale(1.3);
    -moz-transform: scale(1.3);
}

.panel .panel-body a.zoom span.overlay {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 0;
    transition: opacity .25s ease-out;
    -moz-transition: opacity .25s ease-out;
    -webkit-transition: opacity .25s ease-out;
    -o-transition: opacity .25s ease-out;
}

.panel .panel-body a.zoom:hover span.overlay {
    display: block;
    visibility: visible;
    opacity: 0.55;
    -moz-opacity: 0.55;
    -webkit-opacity: 0.55;
    filter: alpha(opacity=65);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
}

.panel .panel-body a.zoom:hover span.overlay i {
    position: absolute;
    top: 45%;
    left: 0%;
    width: 100%;
    font-size: 2.25em;
    color: #fff !important;
    text-align: center;
    opacity: 1;
    -moz-opacity: 1;
    -webkit-opacity: 1;
    filter: alpha(opacity=1);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
}

.panel .panel-footer {
    padding: 8px !important;
    background-color: #f9f9f9 !important;
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.panel .panel-footer h4 {
    display: inline;
    font: 400 normal 1.125em "Roboto", Arial, Verdana, sans-serif;
    color: #34495e margin: 0 !important;
    padding: 0 !important;
}

.panel .panel-footer i.glyphicon {
    display: inline;
    font-size: 1.125em;
    cursor: pointer;
}

.panel .panel-footer i.glyphicon-thumbs-up {
    color: #1abc9c;
}

.panel .panel-footer i.glyphicon-thumbs-down {
    color: #e74c3c;
    padding-left: 5px;
}

.panel .panel-footer div {
    width: 15px;
    display: inline;
    font: 300 normal 1.125em "Roboto", Arial, Verdana, sans-serif;
    color: #34495e;
    text-align: center;
    background-color: transparent !important;
    border: none !important;
}

.modal-title {
    display: none;
    font: 400 normal 1.625em "Roboto", Arial, Verdana, sans-serif;
}

.modal-footer {
    display: none;
    font: 400 normal 1.125em "Roboto", Arial, Verdana, sans-serif;
}

.ekko-lightbox-container {
    position: relative
}

.ekko-lightbox-nav-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%
}

.ekko-lightbox-nav-overlay a {
    z-index: 100;
    display: block;
    width: 49%;
    height: 100%;
    padding-top: 45%;
    font-size: 30px;
    color: #fff;
    text-shadow: 2px 2px 4px #000;
    opacity: 0;
    filter: dropshadow(color=#000000, offx=2, offy=2);
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s
}

.ekko-lightbox-nav-overlay a:empty {
    width: 49%
}

.ekko-lightbox a:hover {
    text-decoration: none;
    opacity: 1
}

.ekko-lightbox .glyphicon-chevron-left {
    left: 0;
    float: left;
    padding-left: 15px;
    text-align: left
}

.ekko-lightbox .glyphicon-chevron-right {
    right: 0;
    float: right;
    padding-right: 15px;
    text-align: right
}

.ekko-lightbox .modal-footer {
    text-align: left
} */

/* DROPDOWN */

.dropbtn {
    background-color: white;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    width: 250px;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: var(--grey);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: var(--nav-li-active);
    color: white;
}

.language {
    width: 100px;
    height: 20px;
    left: 95%;
    position: relative;
    /* position: absolute; */
    /* background-color: black; */
    /* z-index: 1; */
}

.language button {
    font-size: 12px;
    padding: 0px;
    border: none;
    right: 55%;
    height: 27px;
    position: relative;
    top: -50px;
    background-color: white;
    /* z-index: 1; */
}

.language a {
    color: var(--color1);
    margin-left: -2px;
    margin-right: -2px;
    padding: 4px;
}

.language a:hover {
    /* color: white; */
    background-color: var(--grey);
    text-decoration: none;
}

.language a:active {
    color: white;
    background-color: var(--nav-li-active);
    text-decoration: none;
}

/* ------------ examples styles ---------- */

/* ------------ examples styles ---------- */

#examples {
    margin-top: 40px;
}

.examples-box {
    margin-top: 40px;
    /* border: 1px solid var(--nav-li-active); */
    border-radius: 5px;
    margin-right: 0;
}

.examples-text {
    padding-top: 30px;
}

.examples-text p {
    text-indent: 30px;
}

.examples-image-box img {
    width: 100%;
    height: auto;
    border-radius: 5px;

}
.examples-image-box {
    padding-right: 0px;
    padding-left: 0px;
}

.examples-info-box {
    /* text-align: center; */
    box-sizing: border-box;
    list-style-type: none;
    display: inline-block;
}

.examples-info-box ul {
    list-style-position: initial;
    list-style-image: initial;
    padding-left: 10px;
}

.examples-info-box img {
    width: 30px;
    float: left;
    background: var(--nav-li-active);
}

.examples-info-box span {
    box-sizing: border-box;
    text-align: -webkit-match-parent;
    position: relative;
    font-size: 140%;
    padding: 2px;
}

.examples-info-box h5 {
    font-size: 120%;
    padding-top: 5px;
}

.examples-address-list {
    /* padding-right: 0px; */
    text-align: center;
    /* padding: 0px; */
    /* margin-top: 20px; */
    border-radius: 5px;
}

.examples-address-list ul {
    list-style-type: none;
    padding: 0px;
    height: 100%;
}


#select {
    width: 100%;
    height: 50px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
    border: 1px solid var(--nav-li-active);
    border-radius: 5px;
    font-size: 120%;
}


.examples-address-list li {
    height: 16.6666666667%;
    z-index: 1;
    vertical-align: middle;
    border-left: 1px solid var(--grey);
    border-right: 1px solid var(--grey);
}

.examples-address-list li:hover{
    background-color: var(--grey);
    color: black;
}

.examples-address-list li:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom: 1px solid var(--grey);
}

.examples-address-list li:first-child {
    border-top: 1px solid var(--grey);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

li.example-active {
    background-color: var(--nav-li-active);
    border: 1px solid var(--nav-li-active);
    border-bottom: None;
    border-top: none;
    color: white;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
    -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
}
li.example-active:first-child {
    border-color: var(--nav-li-active);
}
li.example-active:last-child {
    border-color: var(--nav-li-active);
}

li.example-active:hover {
    border-color: var(--nav-li-active);
    background-color: var(--nav-li-active);
    color: white;
}

.examples-address-list span{
    display: inline-block;
    vertical-align: middle;
}
.examples-address-list div{
    height: 100%;
    padding-top: 12.4px;
}

.charicon {
    min-height: 50px;
}

.charul {
    list-style-type: none;
    padding: 0px;
    height: 100%;
}

.charul li {
    height: 20%;
    z-index: 1;
    vertical-align: middle;
}

.charchar h5 {
    margin: 0px;
    font-size: 80%;
}

/* 0=================0 */

.char-icon {
    margin-top: 20px;
    border-radius: 75px;
    height: 75px;
    width: 75px;

    background-color: var(--nav-li-active);
}

.char-icon img {
  margin-top: 13px;
  margin-left: 13px;
  position: relative;
  min-width: 50px;
  fill: white;
  width: 50px;
  height: 50px;
}

.char-hold {
    /* text-align: center; */
    position: absolute;
    display: inline-block;
    height: 80px;
    padding-left: 15px;
    /* border: 1px solid green; */
    /* margin-left: 70px; */
}

.char-row {
    padding-top: 10px;
}

.centered-content {
    display: table-cell;
    vertical-align: middle;
}

.char-icon {
    /* position: absolute; */
    display: inline-block;
    /* border: 1px solid green; */
    /* height: 80px; */
}

.char-hold h5 {
    margin-top: 25px;
    margin-bottom: 10px;
    vertical-align: middle;
    font-size: 90%;
    margin
}
.char-hold p {
    vertical-align: middle;
    font-size: 80%;
}

.char-hold span {
    font-size: 140%;
}

#time-audit2 #time-occupy #time-audit {
    font-size: 100%;
}


/* 0======= footer  ==========0 */

footer {
    position: absolute;
    right: 0;
    /* bottom: 0; */
    left: 0;
    background-color: var(--grey);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
footer a {
    color: inherit;
}
footer a:hover{
    text-decoration: none;
    color: black;
}

i.fa {
    font-family: fontawesome !important;
    color: var(--nav-li-active);
    margin-right: 10px;
    margin-left: 10px;
    transition: all .2s ease-in-out;
}

i.fa:hover {
    transform: scale(1.2);

}

/* +++++++++++++++++++++++++++++  */

@media (min-width: 992px) {
    .examples-box {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }

    .examples-address-list {
        margin-top: 0px;
        padding: 0px;
    }
    .example-wrapper {
        padding-left: 15%;
        padding-right: 15%;
    }


    .examples-image-box {
        padding-right: 20px;
    }
    /* .examples-image-box {
        padding-left: 100px;
        padding-right: 50px;

    }
    .examples-address-list {
        padding-right: 50px;
    }
    .char-row {
        padding-left: 100px;
    } */

}
@media (max-width: 767px) {
    .examples-info-box h5 {
        text-align: center;
    }

    .examples-info-box img {
        display: table-cell;
        margin-left: 30%;
        margin-right: 5%;
        position: relative;
    }

    .examples-address-list div {
        padding-top: 10px;
        /* background-color: red; */
    }
    .example-wrapper {
        /* padding-left: 0px; */
        padding-right: 0px;
    }
    /* footer icons fix on mobile */
    footer {
        text-align: left;
        padding-bottom: 5px;
        padding-left: 5px;
    }

    #sidebar {
        right: -35px;
        top: 83%;
    }

}


/* ------------- sms ------------------ */

.sms-thanks {
    padding: 10px;
    text-align: center;
    /* border: solid 1px var(--grey); */
    border-radius: 5px;
}

.sms-thanks h3 {
    margin-bottom: 30px;
}

/* -------------------- gallery ------------------------------- */
.example-image-link {
    visibility: collapse;
}

.example-image {
    height: 0px;
    transition: all .2s ease-in-out;
}

.example-image-link:first-child .example-image {
    width: auto;
    height: 200px;
    border-radius: 5px;
}

.example-image-link:first-child {
    visibility: visible;
    /* visibility: collapse; */
}

.gallery {
    text-align: center;
    margin-top: 30px;
}

.example-image:hover {
    transform: scale(1.1);
}

.doc-heading {
    padding-top: 10px;
    font-size: 120%;
}

@media (max-width: 767px) {
    .doc-heading {
        padding-bottom: 30px;
    }
}


/* ------------ test styles -------------------- */
.option {
    border: solid 1px var(--grey);
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 5px;
}
.active-option {
    border: 1px solid var(--nav-li-active);
    border-radius: 5px;
}

.option-true {
    background-color: var(--nav-li-active);
    color: white;
}
.active-option.option-true:hover {
    background-color: var(--nav-li-active);
    color: white;
}
.option-true:hover {
    background-color: var(--nav-li-active);
    color: white;
}

.option-false {
    color: red;
}

.test-box {
    padding-right: 15%;
    padding-left: 15%;
}
@media (max-width: 767px) {
    .test-box {
        padding-right: 15px;
        padding-left: 15px;
    }
}
.test-question {
    font-size: 120%;
}
.test-options {
    padding-top: 20px;
}
.test-options {
    border: 1px solid white;
    border-radius: 5px;
}
.test-options div{
    border-radius: 5px;
}
.test-options div:hover {
    background-color: var(--grey);
}
.test-options div.option-true:hover {
    background-color: var(--nav-li-active);
}
.test-commet {
    padding: 5px;
}
